test_input.txt
train_input.txt
valid_input.txt
kinase_counts.txt
kinase_data.zip

tmp/

kinase_data_processing/test_input.txt
kinase_data_processing/train_input.txt
kinase_data_processing/valid_input.txt
kinase_data_processing/kinase_data.zip
kinase_data_processing/kinase_test.csv
kinase_data_processing/kinase_train.csv
kinase_data_processing/kinase_valid.csv

test_checkpointing/

oracle_models/original_splits/

oracle_models/tanimoto_similarity_matrix.parquet
oracle_models/data.csv
oracle_models/data_scaffolds.csv
oracle_models/data_full.csv


**/__pycache__/
mCLM.egg-info/
_logs/
wandb/

ckpts/
slurm_outputs/
.DS_Store
**/.DS_Store

notes.txt


ckpts_GNN/

total_blocks.txt

final_embeddings/

